.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: #201c35;
  background-color: rgba(19, 22, 49, 0.1);
  text-align: end;
  padding: 1rem;
}
.menu-list a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}
.menu-list a:last-child {
  margin-right: 0;
}
